# Ignore virtual environment
cv/

# Other files and directories to ignore
input/
output/
pickle/
models/
training/
runs/

*.pt

# Other files and directories to ignore
*.pyc
__pycache__/
.DS_Store
.env
